/* Reset de estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo global da página */
body {
    font-family: Arial, sans-serif;
    
    background-color: #bbd1e2;
    color: #333;
    margin: 20px;
}

/* Estilo do cabeçalho */
header {
    background-color: #e7ecf0;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.title {
    color: white;
    background-color: rgb(33, 46, 146);
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
}

/* Estilo do banner */
.banner {
    height: 300px;
    overflow: hidden;
}

.banner img {
    margin: 0;
    width: 100%;
}

/* Estilo do formulário de novo item */
.newItem {
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-wrap: wrap; 
    align-items: flex-start;
    justify-content: center;
}

.form-group {
    flex-basis: 30%; 
    margin-right: 20px; 
    margin-bottom: 20px; 
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.form-group label {
    margin-bottom: 5px; 
}

/* Estilo dos campos de entrada e seleções */
.newItem input[type="text"],
.newItem select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%; 
}

.wider-input {
    width: 100%; 
}

.addBtn {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px 30px; 
    margin-top: 10px; 
    width: 100%; 
}


/* Remova o margin-bottom dos campos de entrada para manter a lista horizontal */
.newItem input[type="text"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Estilo da tabela de itens */
.items {
    margin-top: 20px;
    background-color: #fff;
    display: flex;
    justify-content: center;
}


#myTable {
    width: 100%;
    border-collapse: collapse;
}

#myTable th, #myTable td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    border-collapse: collapse;
    cursor: pointer;
    margin: 5px;
}

#myTable th {
    background-color: #f0f0f0;
}

/* Estilo do ícone de opções */
.items th:last-child, .items td:last-child {
    text-align: center;
}

.addBtn:hover {
    background-color: #263370;
    color: white;
}

.close:hover {
    color: #f44336;
    font-weight: bolder;
}

tr:hover {
    background: rgb(200, 199, 199);
}
