body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    padding: 10px;
}

h1, h2 {
    color: #2c3e50;
}

.container {
    margin: 20px auto;
    width: 90%;
    max-width: 500px;
}

select, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
}

/* Ajuste no tamanho dos botões dos dias */
.dia-button {
    background-color: #3498db;
    color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    display: inline-block;
    min-width: 120px; /* Define um tamanho mínimo para o botão */
    height: auto;
    line-height: 30px; /* Ajuste no alinhamento vertical */
    text-align: center;
    transition: background-color 0.3s ease;
}

/* Ajuste para dias longos */
.dia-button {
    min-width: 150px; /* Definindo um mínimo para o botão de dia */
}

.dia-button:hover {
    background-color: #2980b9;
}

/* Responsividade */
@media (max-width: 600px) {
    .dia-button {
        width: 100%; /* Para telas menores, ocupa 100% da largura */
        font-size: 1rem;
    }
}

.video-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}
